In [2]:
import pandas as pd
import numpy as np
from utilities import loadPickle

In [3]:
data = loadPickle('./win2_f0.5.pth.tar')

In [4]:
data.head()

   index  ...        Encoded Current Roles
0     24  ...  [1, 0, 0, 0, 0, 1, 0, 1, 0]
1     25  ...  [0, 0, 1, 0, 1, 0, 1, 0, 0]
2     26  ...  [0, 1, 0, 1, 0, 0, 0, 0, 1]
3     54  ...  [1, 0, 0, 0, 0, 1, 0, 1, 0]
4     55  ...  [0, 0, 1, 0, 1, 0, 1, 0, 0]

[5 rows x 11 columns]

In [22]:
x = data.iloc[0]['Gaze']

In [26]:
x[0].shape, x[1].shape, x[2].shape

((60, 2), (60, 2), (60, 2))

In [29]:
np.mean(x[2])

-0.2019979864976558

In [32]:
x = torch.rand(16,360)

In [37]:
scond = 60
y = [x[:, 0:60], x[:, 60:120], x[:, 120:180], x[:, 180:240], x[:, 240:300], x[:, 300:360]]

In [40]:
x = [[[0,0,0]],
     [[1,1,1]],
     [[2,2,2]]]

In [44]:
torch.flatten(torch.Tensor(x))

tensor([0., 0., 0., 1., 1., 1., 2., 2., 2.])

In [2]:
x = [488512261, 625040505, 1, 617699202, 778493847, 935903331]

sum = 0
for item in x:
    sum+= (item**2)
print(sum%767)

766

In [12]:
import glob
import re

In [16]:
files = glob.glob('*.pth.tar')
files_cleaned = []
for item in files:
    if 'win' in item:
        window, future = item.split('_')
        window = float(re.search(r'\d+(\.\d+)?', window).group())
        future = float(re.search(r'\d+(\.\d+)?', future).group())

1.0 0.5
1.5 0.5
1.5 1.0
1.5 1.5
1.5 2.0
2.0 0.5
2.0 1.0
2.0 1.5
2.0 2.0

In [11]:
import re
extracted_number = float(re.search(r'\d+(\.\d+)?', files_cleaned[1]).group())
extracted_number

1.5